*,
*::before,
*::after {
  box-sizing: border-box;
}

#calculator {
  width: 300px;
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

#display {
  background: #222;
  color: lime;
  font-size: 2em;
  padding: 10px;
  text-align: right;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  font-size: 1.5em;
  padding: 20px;
  cursor: pointer;
  flex: 1 0 25%;
}
